<!--article 1-->
<div class="head">
    <div>
        <h2>How is the value of money determined</h2>
        <figure>
            <img src="./img/1.jpg" alt="money">
            <figcaption class="align-left">US Dollar Bills</figcaption>
        </figure>
        <p>
            The value of money is determined by the demand for it, just like the value of goods and services. There are three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future. 
            
            <br>
            <br>
            For this reason, the value of money fluctuates throughout the trading day. The second method is the value of Treasury notes. They can be converted easily into dollars through the secondary market for Treasurys.
            
            <br>
            <br>
            The third way is through foreign exchange reserves. That is the amount of dollars held by foreign governments. The more they hold, the lower the supply. That makes U.S. money more valuable. If foreign governments were to sell all their dollar and Treasury holdings, the dollar would collapse. U.S. money would be worth a lot less.    
        </p>
    </div>
    
<!--article 2-->
    
     <div>
        <h2>Are G.M.O Foods Safe?</h2>
        <figure>
            <img src="./img/2.jpg" alt="stop gmo">
            <figcaption class="align-left">STOP G.M.O foods</figcaption>
        </figure>
        <p>
            It’s human nature, it seems, to resist change and fear the unknown. So it is no surprise that genetic engineering of food and feed crops resulted in their resounding condemnation as “Frankenfoods” by many consumers, who seem as terrified of eating an apple with an added anti-browning gene or a pink pineapple genetically enriched with the antioxidant lycopene as I am of self-driving cars.
            
            <br>
            <br>
            Trek down the grocery aisles of any large market and you’ll find many products prominently labeled “No G.M.O.s.” It’s much harder to spot the small print on many other foods stating “Partially produced with genetic engineering,” a result of a 2016 federal law that mandated uniform labeling of all food products containing genetically engineered ingredients.
            
            <br>
            <br>
            The labeling requirement arose in response to public pressure and a confusing array of state rules. But while I endorse the public’s right to know and honest labeling of all products, in an important way it is very misleading. Farmers and agricultural scientists have been genetically engineering the foods we eat for centuries through breeding programs that result in large and largely uncontrolled exchanges of genetic material. What many consumers may not realize: For many decades, in addition to traditional crossbreeding, agricultural scientists have used radiation and chemicals to induce gene mutations in edible crops in attempts to achieve desired characteristics.
        </p>
    </div>
    <hr>
    
    <!--article 3-->
    
     <div>
        <h2>The View of World in 2100</h2>
        <figure>
            <img src="./img/3.jpg" alt="Human Robot">
            <figcaption class="align-left">Human Robot</figcaption>
        </figure>
        <p>
            If we could go back to the year 1900 to visit our grandparents, how would they view us? Back then, life expectancy hovered around 40, people were largely dirt farmers and life was short and brutal. Viewing our rockets, jet airplanes, TVs, computers, and Internet, they would see us as sorcerers and wizards.
            
            <br>
            <br>
            But if someone from 2100 could visit us now, how would we view them? Probably like the gods of mythology. They would command everything around them by wishing for it. They would have perfect and ageless bodies. And they would ride across the universe in magical chariots. In the past, we feared the gods of mythology. In the next 100 years, we will become them.
            
            <br>
            <br>
            Based on interviews with 300 of the world’s top scientists, I’ve put together some predictions for what that world, 100 years in the future, will look like. This is not a work of science fiction, since prototypes of these inventions already exist, and all of them obey the laws of physics
        </p>
    </div>
     <hr>
</div>