<div class = "head">
<h2>Portfolio</h2>

<div class = "port">
<figure class = "pos1">
   <img src="./img/1.jpg" alt="Dollar Bills"> 
   <figcaption>US Dollar Bills</figcaption>
</figure>


<figure class = "pos2">
   <img src="./img/1.1.jpg" alt="coins"> 
   <figcaption>Coins</figcaption>
</figure>

<figure class = "pos1">
   <img src="./img/2.jpg" alt="GMO Foods"> 
   <figcaption>GMO Food</figcaption>
</figure>

<figure class = "pos2 pos3">
   <img src="./img/2.2.jpg" alt="Apple" /> 
   <figcaption>GMO Fruit</figcaption>
</figure>

<figure class = "pos1">
   <img src="./img/3.jpg" alt="Human Robot" /> 
   <figcaption>Human Robot</figcaption>
</figure>

<figure class = "pos2">
   <img src="./img/3.1.jpg" alt="Future Vehicle" /> 
   <figcaption>Futuristic Vehicle</figcaption>
</figure>
</div>

</div>

<hr>
<br>